<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Name</title>-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">-->
<!--</head>-->
<!--<body>-->

{% extends 'posts/layout.html' %}
    {% block content %}
    <h6>Create new Post</h6>
    <form method='POST', action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
    {% endblock %}
<!--</body>-->
<!--</html>-->